/* GLOBAL STYLING */
* {
  padding: 0px;
  margin: 0px;
  background-color: #fefefd;
}

h1, h2, p, a, li{
  text-transform: uppercase;
  font-family: 'Nanum Gothic Coding', monospace;
}

/* DEFINITION OF SCREEN WIDTH */
html {
  height: 100vh;
}


/* TITLE STYLING CLASS */
.title {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}

/* SUBHEADING STYLING */
.subheading-container {
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* MAIN TEXT STYLING CLASS */
.main-body-text {
  text-align: center;
  line-height: 5vh;
  font-size: 20px;
}

/* MENU STYLING CLASS */
.main-navigation ul {
  text-align: center;
}

.main-navigation li {
  display: inline-block;
  padding: 40px;
}

.main-body-menu {
  padding-bottom: 30px;
}

.main-navigation a {
  text-decoration: none;
}

.main-navigation ul li {
  font-size: 19px;
  /* list-style: none; */
  padding-bottom: 5px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 3px;
  border: solid 1px #d1a375;
  border-radius: 4px;
  background-color: #d1a375;
  color: aliceblue;
}

.main-body-menu a {
  background-color: #d1a375;
  color: #fefefd;
}

/* IMAGE STYLING CLASS */
.main-body-img-container img {
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* RUINE IMAGE */
.rune-image {
  margin-top: 25px;
  width: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* FOOTER STYLING CLASS*/
.footer-text {
  font-size: 25px;
  text-align: center;
  font-style: italic;
}


/* LIFE STYLING PAGE */
.supporting-main-body-text {
  margin-right: 450px;
  margin-left: 450px;
  text-align: justify;
  line-height: 5vh;
  font-size: 19px;
  padding-bottom: 10px;
  
}

.formula ul {
  padding-bottom: 25px;
}

.formula ul, ol {
  padding-right: 450px;
  padding-left: 500px;
}

.formula ul li {
  list-style: armenian;
  line-height: 3vh;
  font-size: 18px;
}

.formula ol li {
  line-height: 3vh;
  font-size: 18px;
}

.supporting-footer img {
  padding-bottom: 10px;
}

.supporting-footer p {
  padding-bottom: 55px;
}

.subheading-container {
  padding-top: 18px;
}

/* .instructions li {

 border: 2px solid black;

} */