/* GLOBAL STYLING */
* {
  padding: 0px;
  margin: 0px;
  background-color: #fefefd;
}

h1, h2, p {
  text-transform: uppercase;
  font-family: 'Nanum Gothic Coding', monospace;
}

/* DEFINITION OF SCREEN WIDTH */
html {
  height: 100vh;
}


/* TITLE STYLING CLASS */
.title {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}

/* SUBHEADING STYLING */
.subheading-container {
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* MAIN TEXT STYLING CLASS */
.main-body-text {
  text-align: center;
  line-height: 5vh;
  font-size: 20px;
}

/* MENU STYLING CLASS */
.main-body-menu nav {
  text-align: center;
}

.main-body-menu li {
  display: inline-block;
  padding: 40px;
}

.main-body-menu {
  padding-bottom: 30px;
}

.main-body-menu a {
  text-decoration: none;
}

.main-body-menu ul li {
  font-size: 19px;
  list-style: none;
  padding-bottom: 5px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 3px;
  border: solid 1px #d1a375;
  border-radius: 4px;
  background-color: #d1a375;
  color: aliceblue;
}

.main-body-menu a {
  background-color: #d1a375;
  text-decoration: none;
}

.main-body-menu a:link a:visited a:hover {
  text-decoration: none;
}

/* IMAGE STYLING CLASS */
.main-body-img-container img {
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* RUINE IMAGE */
.rune-image {
  margin-top: 25px;
  width: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* FOOTER STYLING CLASS*/
.footer-text {
  font-size: 25px;
  text-align: center;
  font-style: italic;
}

